.form-container {
  padding-top: 10px;
  width: 95%;
  margin: auto;

  .form-list-title {
    margin-bottom: 10px;
  }
  .form-information {
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 20px 50px 20px 20px;

    .if-input,
    .sh-input,
    .td-input {
      align-items: center;
      margin: auto;
      width: 100%;

      p {
        margin-right: 7px;
      }

      .input {
        width: 100%;
        height: 30px;
      }
    }
  }
  .form-list {
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 20px 50px 20px 20px;
    margin-bottom: 10px;
    .schedule-item {
      border: solid #ddd 1px;
      padding: 10px;
      border-radius: 7px;
      margin-bottom: 15px;
    }
  }
  .tour-list {
    display: flex;
    overflow-x: auto;
    .tour-item {
      border: solid #ddd 1px;
      padding: 10px;
      border-radius: 7px;
      margin-bottom: 15px;
      margin-right: 10px;
      width: 620px;
      .item {
        display: flex;
      }
    }
  }
}
