.order {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .order-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .order-header-content {
            width: 85% !important;

            button {
                background-color: transparent;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                span {
                    font-size: 1.1rem;
                }
            }

            h1 {
                font-size: 2.6rem;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                color: #0b5da7;
            }
        }
    }

    .page-order {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .page-order-container {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            gap: 2rem;
            align-items: stretch;
            padding-bottom: 8rem;
            width: 85% !important;

            .page-order-left {
                width: 100%;
                display: flex;
                justify-content: flex-start !important;
                align-items: flex-start;
                flex-direction: column;

                .order-contact {
                    height: 245px;

                    h3 {
                        font-size: 1.4rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-align: center;
                        margin: 0 0 1.5rem;
                    }

                    form {
                        width: 100%;

                        .booking-contact-row {
                            width: 100%;
                            height: 50%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            margin-bottom: 1rem;

                            .linee-r {
                                width: 49%;
                                padding: 10px;
                                border-right: 1px solid #e5e5e5;

                                label {
                                    font-size: 1.2rem;
                                    font-weight: 700;
                                }

                                p {
                                    font-size: 0.9rem;
                                }
                            }

                            .col {
                                width: 49%;
                                padding: 10px;

                                label {
                                    font-size: 1.2rem;
                                    font-weight: 700;
                                }

                                p {
                                    font-size: 0.9rem;
                                }
                            }
                        }
                    }
                }

                .order-item {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start !important;
                    align-items: flex-start;
                    flex-direction: column;
                    margin: 0 0 2.3rem;

                    h3 {
                        font-size: 1.4rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-align: center;
                        margin: 0 0 1.5rem 5.5rem;
                    }

                    .booking-wrapper {
                        width: 100%;

                        .input {
                            .booking-form {
                                display: grid;
                                grid-template-columns: auto auto;
                                justify-content: flex-start;
                                align-items: flex-start;
                                gap: 2rem;

                                .false {
                                    .wrapper {
                                        border: 1px solid #171717;
                                        border-radius: .5rem;
                                        padding: 0.4rem 0.4rem 0.4rem 1.3rem;
                                        width: 100%;

                                        .row {
                                            align-items: stretch;
                                            width: 100%;
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: flex-start;
                                            gap: 2rem;

                                            .type {
                                                font-size: 1.2rem;
                                                width: 50%;
                                            }

                                            .quantity {
                                                width: 50%;
                                                display: flex;
                                                justify-content: space-between;
                                                align-items: center;

                                                input {
                                                    width: 60%;
                                                    text-align: center;

                                                    background: transparent;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .page-order-right {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start !important;
                align-items: flex-start;
                flex-direction: column;
                position: relative;

                .sumary {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: sticky;
                    top: 1.3rem;
                    align-items: flex-start;

                    h3 {
                        font-size: 1.4rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-align: center;
                        margin: 0 0 1.5rem;
                    }

                    .card {
                        background: #f8f8f8;
                        max-height: 90%;
                        padding: 1.6rem;
                        border-radius: 1rem;
                        align-items: stretch;
                        overflow: hidden;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .card-header {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: stretch;
                            gap: 1rem;

                            .image {
                                width: 30%;
                                object-fit: cover;
                                border-radius: 0.7rem;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 0.7rem;
                                }
                            }

                            .title-booking {
                                text-align: justify;
                                width: 70%;

                                .row {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    align-items: flex-start;
                                    height: 100%;
                                    gap: .25rem;

                                    h4 {}

                                    .title-booking {
                                        font-size: 1.4rem;
                                        font-weight: 400;
                                        gap: .25rem;
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                    }

                                }
                            }
                        }

                        hr {
                            margin: 0.7rem 0;
                            border: 1px solid #e5e5e5;
                        }

                        .preview {
                            display: flex;
                            align-items: center;

                            .row {
                                width: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }

                        .card-footer {
                            display: flex;
                            justify-content: space-between;
                            position: sticky;
                            bottom: 0;
                            flex-direction: column;
                            align-items: stretch;
                            gap: 1rem;

                            .totalPrice {
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: flex-start;
                                gap: 2rem;

                                .left {
                                    flex: 1 1;
                                    font-size: 1.6rem;
                                    font-weight: 700;
                                }

                                .right {
                                    flex: 2 1;
                                    text-align: right;
                                    font-size: 2rem;
                                    font-weight: 700;
                                    color: #e01600;
                                }
                            }

                            button {
                                text-transform: none;
                                font-size: 1.2rem;
                                font-weight: 650;
                                padding: 1rem;
                                width: 100%;
                                border-radius: .5rem;
                                background-color: #e01600;
                                color: white;
                                border: 1px solid #b1b1b1;
                                cursor: pointer;
                            }

                            button:hover {
                                background-color: #6e1c13;
                            }
                        }

                    }

                    .tour-contact {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-end;
                        margin-top: 1.5rem;
                        width: 100%;

                        .tour-contact-group {
                            max-width: 100%;
                            display: flex;
                            gap: .5rem;
                            font-size: 1.2rem;
                            font-weight: 700;
                            font-style: italic;

                            .btn-phone {
                                background: #0b5da7;
                                color: #fff;
                                border: none;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                padding: .8rem;
                                cursor: pointer;
                                border-radius: .5rem;
                                text-decoration: none;
                                font-style: normal;

                                p {
                                    flex: 1.3 1;
                                    margin: 0;
                                    font-weight: 700;
                                    font-size: 0.8rem;
                                }
                            }

                            .btn-phone:hover {
                                background: #0d70c6;
                            }

                            .btn-mail {
                                background: #fff;
                                color: #0b5da7;
                                border: 1px solid #0b5da7;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: .8rem;
                                cursor: pointer;
                                border-radius: .5rem;
                                gap: .25rem;

                                p {
                                    flex: 1.3 1;
                                    margin: 0;
                                    font-weight: 700;
                                    font-size: 0.8rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}